# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
type(data)

list

In [5]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [6]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank

In [7]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'name': 'Education', 'code': 'EX'},
   {'name': 'Education', 'code': 'EX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'},
   {'name': 'Education', 'code': 'EX'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'name': 'Human development', 'code': '8'},
   {'name': '', 'code': '11'}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b081e545fb_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'DocDate': '28-AUG-2013'},
   {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocType': 'IP',
    'EntityID': '000442464_20130920111729',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'DocDate': '01-JUL-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b0817b19e2_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'DocDate': '22-NOV-2012'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'name': 'Primary education', 'code': 'EP'},
   {'name': 'Secondary education', 'code': 'ES'},
   {'name': 'Public administration- Other social services', 'code': 'BS'},
   {'name': 'Tertiary education', 'code': 'ET'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'name': 'Education for all', 'code': '65'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'name': 'Public Administration, Law, and Justice',
    'code': 'BX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'name': 'Economic management', 'code': '1'},
   {'name': 'Social protection and risk management', 'code': '6'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131024115616',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20131024151611',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000442464_20131031112136',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131031105716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20130305113209',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'DocDate': '16-JAN-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000356161_20130305113716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'DocDate': '16-JAN-2013'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'name': 'Public administration- Other social services',
    'code': 'BS'},
   {'name': 'General public administration sector', 'code': 'BZ'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'name': 'Other economic management', 'code': '24'},
   {'name': 'Social safety nets', 'code': '54'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [8]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

## 1. Find the 10 countries with most projects

In [9]:
world_bank = pd.read_json('data/world_bank_projects.json')

Extract only country fields.  It's not necessary to do this, but I did it for data exploration purposes

In [10]:
data = world_bank[['country_namecode','countrycode','countryname','countryshortname']]

In [11]:
print(data.head())

                               country_namecode countrycode  \
0  Federal Democratic Republic of Ethiopia!$!ET          ET
1                      Republic of Tunisia!$!TN          TN
2                                   Tuvalu!$!TV          TV
3                        Republic of Yemen!$!RY          RY
4                       Kingdom of Lesotho!$!LS          LS

                               countryname    countryshortname
0  Federal Democratic Republic of Ethiopia            Ethiopia
1                      Republic of Tunisia             Tunisia
2                                   Tuvalu              Tuvalu
3                        Republic of Yemen  Yemen, Republic of
4                       Kingdom of Lesotho             Lesotho

In [12]:
top10_countries_by_project = data.groupby('countryname')['countryname'].agg('count').sort_values(ascending=False).head(10)

Print the top 10 countries

In [13]:
print(top10_countries_by_project)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

## 2.Find the top 10 major project themes (using column 'mjtheme_namecode')

  From the examples above, the mjtheme_namecode column is a list of dictionary values:

In [14]:
print(world_bank.iloc[0]['mjtheme_namecode'])

[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]

Import JSON as list, in order to use json_normalize() function

In [15]:
jstring = json.load((open('data/world_bank_projects.json')))

Normalize the major themes in order to easily count them

In [16]:
major_themes = json_normalize(jstring,'mjtheme_namecode',['_id'])

There are multiple 'major' themes per project, and also the same code value exists with and with a name; Next will check for duplicates within project.

In [17]:
print(major_themes.head(22))

   code                                          name  \
0     8                             Human development
1    11
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8
18   10                             Rural development
19    7
20    2                      Public sector governance
21    2                      Public sector governance

                                     _id
0   {'$oid': '52b213b38594d8a2be17c780'}
1   {'$oid': '52b213b38594d8a2be17c780'}
2   {'$oid': '52b213b38594d8a2be17c781'}
3   {'$oid': '52b213b38594d8a2be17c781'}
4   {'$oid': '52b213b38594d8a2be17c782'}
5   {'$oid': '52b213b38594d8a2be17c782'}
6   {'$oid': '52b213b38594d8a2be17c782'}
7   {'$oid': '52b213b38594d8a2be17c782'}
8   {'$oid': '52b213b38594d8a2be17c783'}
9   {'$oid': '52b213b38594d8a2be17c783'}
10  {'$oid': '52b213b38594d8a2be17c784'}
11  {'$oid': '52b213b38594d8a2be17c784'}
12  {'$oid': '52b213b38594d8a2be17c785'}
13  {'$oid': '52b213b38594d8a2be17c785'}
14  {'$oid': '52b213b38594d8a2be17c786'}
15  {'$oid': '52b213b38594d8a2be17c786'}
16  {'$oid': '52b213b38594d8a2be17c787'}
17  {'$oid': '52b213b38594d8a2be17c787'}
18  {'$oid': '52b213b38594d8a2be17c788'}
19  {'$oid': '52b213b38594d8a2be17c788'}
20  {'$oid': '52b213b38594d8a2be17c789'}
21  {'$oid': '52b213b38594d8a2be17c789'}

Extract id information from dictionary in order to identify duplicates

In [18]:
major_themes['id'] = major_themes['_id'].apply(lambda x: x.get('$oid'))

In [19]:
del major_themes['_id']

Duplicates exist, so drop them and extract only the codes

In [20]:
print(len(major_themes[['code','id']].drop_duplicates()) == len(major_themes))

False

In [21]:
major_themes_codes = major_themes[['code','id']].drop_duplicates()

In [22]:
major_themes_codes.head(22)

   code                        id
0     8  52b213b38594d8a2be17c780
1    11  52b213b38594d8a2be17c780
2     1  52b213b38594d8a2be17c781
3     6  52b213b38594d8a2be17c781
4     5  52b213b38594d8a2be17c782
5     2  52b213b38594d8a2be17c782
6    11  52b213b38594d8a2be17c782
7     6  52b213b38594d8a2be17c782
8     7  52b213b38594d8a2be17c783
10    5  52b213b38594d8a2be17c784
11    4  52b213b38594d8a2be17c784
12    6  52b213b38594d8a2be17c785
14    2  52b213b38594d8a2be17c786
15    4  52b213b38594d8a2be17c786
16   11  52b213b38594d8a2be17c787
17    8  52b213b38594d8a2be17c787
18   10  52b213b38594d8a2be17c788
19    7  52b213b38594d8a2be17c788
20    2  52b213b38594d8a2be17c789
23   10  52b213b38594d8a2be17c78a
24    2  52b213b38594d8a2be17c78a
25   10  52b213b38594d8a2be17c78b

Since there are missing name values, we count the codes and print the final results

In [23]:
major_theme_counts = major_themes_codes.groupby(['code'])['code'].count().sort_values(ascending=False).head(10)

In [24]:
print(major_theme_counts)

code
11    157
10    148
2     140
8     128
4     119
6     116
7     114
5      61
9      40
1      33
Name: code, dtype: int64

## 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

From the major_themes dataframe from the last step, generate a dictionary of unique, non-blank code/name pairs.

In [25]:
print(major_themes)

     code                                      name                        id
0       8                         Human development  52b213b38594d8a2be17c780
1      11                                            52b213b38594d8a2be17c780
2       1                       Economic management  52b213b38594d8a2be17c781
3       6     Social protection and risk management  52b213b38594d8a2be17c781
4       5                     Trade and integration  52b213b38594d8a2be17c782
...   ...                                       ...                       ...
1494   10                         Rural development  52b213b38594d8a2be17c972
1495    9                         Urban development  52b213b38594d8a2be17c973
1496    8                         Human development  52b213b38594d8a2be17c973
1497    5                     Trade and integration  52b213b38594d8a2be17c973
1498    4  Financial and private sector development  52b213b38594d8a2be17c973

[1499 rows x 3 columns]

In [26]:
theme_codes = major_themes[['code', 'name']].drop_duplicates()
theme_codes = theme_codes.loc[theme_codes.name != ""]
theme_dict = theme_codes.set_index('code')['name'].to_dict()

In [27]:
print(theme_dict)

{'8': 'Human development', '1': 'Economic management', '6': 'Social protection and risk management', '5': 'Trade and integration', '2': 'Public sector governance', '11': 'Environment and natural resources management', '7': 'Social dev/gender/inclusion', '4': 'Financial and private sector development', '10': 'Rural development', '9': 'Urban development', '3': 'Rule of law'}

Update copy of Original dataframe, world_bank_copy: loop through the dataframe, and update the mjtheme_namecode, which is a list of dictionary name/code pairs

In [28]:
world_bank = pd.read_json('data/world_bank_projects.json')
world_bank_copy = world_bank.copy(deep=True)

In [29]:
for i in range (len(world_bank_copy)  ):
    

    list =  (world_bank_copy.iloc[i].mjtheme_namecode)
    index = -1
    # loop over list of name/code dict pairs
    for x in list:
        index += 1

        for key, value in x.items():
            if key == 'code':
                code = value
            if ( key == 'name' and (len(value) == 0  )):
                world_bank_copy.iloc[i].mjtheme_namecode[index]['name'] = theme_dict.get(code)
                #print(i, index, ' has been updated')

## 3b. OPTIONAL - verify the update worked




        Export data back to JSON,  normalize mjthemes field, and compare counts to original

In [30]:
path = 'data/verify.json'
world_bank_copy.to_json(path, orient='records')
verify_string = json.load((open(path)))
#the url is unique per project:  (verification not shown here)
verify_normalize = json_normalize(verify_string, 'mjtheme_namecode',['url'] ) 
#verify_normalize = verify_normalize.drop_duplicates()

In [31]:
verify_normalize

,code,name,url
0,8,Human development,http://www.worldbank.org/projects/P129828/ethi...
1,11,Environment and natural resources management,http://www.worldbank.org/projects/P129828/ethi...
2,1,Economic management,http://www.worldbank.org/projects/P144674?lang=en
3,6,Social protection and risk management,http://www.worldbank.org/projects/P144674?lang=en
4,5,Trade and integration,http://www.worldbank.org/projects/P145310?lang=en
...,...,...,...
1494,10,Rural development,http://www.worldbank.org/projects/P117243/sust...
1495,9,Urban development,http://www.worldbank.org/projects/P126321/keny...
1496,8,Human development,http://www.worldbank.org/projects/P126321/keny...
1497,5,Trade and integration,http://www.worldbank.org/projects/P126321/keny...
1498,4,Financial and private sector development,http://www.worldbank.org/projects/P126321/keny...

In [32]:
 

verify_normalize.groupby(['code', 'name']).count()

                                                   url
code name
1    Economic management                            38
10   Rural development                             216
11   Environment and natural resources management  250
2    Public sector governance                      199
3    Rule of law                                    15
4    Financial and private sector development      146
5    Trade and integration                          77
6    Social protection and risk management         168
7    Social dev/gender/inclusion                   130
8    Human development                             210
9    Urban development                              50

In [35]:
major_themes.groupby(['code','name']).count()

                                                    id
code name
1                                                    5
     Economic management                            33
10                                                  14
     Rural development                             202
11                                                  27
     Environment and natural resources management  223
2                                                   15
     Public sector governance                      184
3                                                    3
     Rule of law                                    12
4                                                   16
     Financial and private sector development      130
5                                                    5
     Trade and integration                          72
6                                                   10
     Social protection and risk management         158
7                                                   11
     Social dev/gender/inclusion                   119
8                                                   13
     Human development                             197
9                                                    3
     Urban development                              47

In [34]:

verify_normalize.groupby(['code'])['code'].count() == major_themes.groupby(['code'])['code'].count()

code
1     True
10    True
11    True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
Name: code, dtype: bool